<h1>Tasks</h1>
<div class="row tasks">
  <div class="col-md-3">
    <%= simple_form_for @task_filter, url: tasks_path, method: :get do |f| %>
      <aside class="filter-options">
        <h2>Filter options</h2>
        <%= f.input :search_term, as: :string %>

        <div class="form-group pretty p-switch p-fill">
          <%= f.input_field :only_unfinished, as: :boolean %>
          <div class="state">
            <label>Only Unfinished</label>
          </div>
        </div>

        <%= f.input :category_ids, label: "Categories", collection: @categories, input_html: {multiple: true, class: "select2-dropdown"}, label_method: lambda { |category| "#{category.title}" }, include_blank: false %>
        <%= f.input :tag_ids, label: "Tags", collection: @tags, input_html: {multiple: true, class: "select2-dropdown"}, label_method: lambda { |tag| "#{tag.title}" }, include_blank: false %>
        <%= f.button :submit, "Filter", class: "btn btn-primary" %>
        <%= link_to 'New Task', new_task_path, class: "btn btn-success" %>
      </aside>
    <% end %>
  </div>
  <div class="col-md-9">
    <h2>Filtered tasks</h2>

    <%= simple_form_for @task_deletion, url: "", method: :delete do |f| %>
      <div class="row mb-4">
        <% @tasks.each do |task| %>
          <div class="col-md-6 mb-4">
            <div class="card task-card">
              <div class="card-header">
                <h2 style="color: <%= task.color %>"><%= task.title %></h2>
                <div class="header-buttons">
                  Mark for deletion: <input type="checkbox" value="<%= task.id %>">
                </div>
              </div>
              <div class="card-body">
                <p>Created at <%= task.deadline_at.strftime("%d/%m/%Y %H:%M") %></p>
                <div class="note">
                  <p><%= task.note %></p>
                </div>

                <% if task.is_done %>
                  <p class="finished">Finished  <%= fa_icon "check 2x" %></p>
                <% else %>
                  <p class="not-finished">Not Finished  <%= fa_icon "times 2x" %></p>
                <% end %>
                <% if task.category.nil? %>
                  <p>Without category</p>
                <% else %>
                  <p>Category: <span style="color: <%= task.category.color %>"><%= task.category.title %></span></p>
                <% end %>
                <p>Has <%= task.tags.length %> tags</p>
              </div>
              <div class="card-footer">
                <%= link_to 'Show', task_path(task), class: "btn btn-primary" %>
                <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %>
                <%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= f.button :submit, "Delete all marked tasks", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


