<!DOCTYPE html>
<html>
<head>
  <title>UclRorTasks</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag :application, media: :all, 'data-turbolinks-track': :reload %>
  <%= stylesheet_link_tag :application, "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" %>
  <%= javascript_include_tag :application, 'data-turbolinks-track': :reload %>
</head>

<body>
<%= render "shared/header" %>
<div class="container mt-5">
  <%= yield %>
</div>

<%= render "shared/footer" %>
</body>
</html>
